<div class="main">
    <p>
        Hi, since you are now on the Talent Pool we would like to ask you that during this time you upload your CV into Glow, please
        use the attached template to do it. In order to upload it, go to <a href='https://glow.corp.globant.com/'>Glow</a>.
    </p>
    <p>Go to My Information</p>
    <p>(click on MI if you are on the Homepage, or on your Profile picture anywhere else on the site)</p>
    <p>On the left side you'll see these options</p>
    <img src='https://lh6.googleusercontent.com/txDhNlWpkTjtxx-i9WDFVcHDolb6Y1KflzOInYhpeJSd4E4RW5xZgGLGE_-mJNuHOEjw8_O8ubtmWTJb2FU06ooArna44QtKlwHh8Vq7eP-w1BM8OFnx8YjVJcHr0VRdl_0PWfex' />
    <p>Click on Upload Resume and attach the file with your CV</p>
    <p>If you already uploaded it, please make sure it is up to date and on the standard format for Globant.</p>
    <p>In addition, please complete your Bios, which will be presented to the client when exists an opportunity fits for you.</p>
    <p>You must use this <a href='https://docs.google.com/a/globant.com/forms/d/e/1FAIpQLSeHXnIvdbmvMdiWIHXjGkqBU4ic15cl83enFnXc75DhHmuFrw/viewform'>form</a> to complete it and <a href='https://drive.google.com/open?id=1_wDieWtaP8H0Dlw6-whCMe3pS1VObXPC8ocIPCuZ294'>here</a> you can see an example of how the summary should look after you're finished.</p>
    <p>Regards</p>
</div>